@model IEnumerable<Flights.Models.Domain.FlightData>
@{

}
<body style="background-color:deepskyblue">
    <h2 style=" color: rgb(238, 116, 126);">List of flight details </h2>
<div>
        @Html.ActionLink("Import data","Upload","Flight",null,new {@class="btn btn-success"})
        @Html.ActionLink("Add Flight","AddFlight","Flight",null,new {@class="btn btn-primary"})
        @Html.ActionLink("Export as csv","Export1","Flight",null,new {@class="btn btn-warning"})

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Flight Id</th>
            <th scope="col">Depart Destination</th>
            <th scope="col">Arrival Destination</th>
            <th scope="col">Depart Time</th>
            <th scope="col">Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var f in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem=>f.flightid)</td>
                <td>@Html.DisplayFor(modelItem=>f.departure_destination)</td>
                <td>@Html.DisplayFor(modelItem=>f.arrival_destination)</td>
                <td>@Html.DisplayFor(modelItem=>f.departure_date)</td>
                <td>@Html.DisplayFor(modelItem=>f.arrival_date)</td>
                <td>@Html.ActionLink("View","Viewflight",new{id=f.id},new { @class="btn btn-danger"})</td>
               
          
        </tr>
        }
    </tbody>
</table>
</body>